services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  app:
    build:
      context: ..
      dockerfile: Dockerfile
    profiles:
      - app
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    env_file:
      - ../.env
    environment:
      - REDIS_URL=redis://redis:6379/0
    volumes:
      - ..:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis

  worker:
    build:
      context: ..
      dockerfile: Dockerfile
    profiles:
      - worker
    command: celery -A config worker -l info
    env_file:
      - ../.env
    environment:
      - REDIS_URL=redis://redis:6379/0
    volumes:
      - ..:/app
    depends_on:
      - redis
